body{
    background-color: black;
}
.message{
    
}
.messageText{
    font-family: monospace;
    color: rgb(0, 141, 0);
    font-size: 20px;
}

.userInput{
    width: 80%;
    border-radius: 10px;
    height: 50px;
    background-color: black;
    color: rgb(0, 141, 0);
    font-size: 20px;
    font-family: monospace;
}

.userInputSendButton{
    height: 55px;
    background-color: black;
    color: rgb(0, 141, 0);
    border-radius: 10px;
    font-family: monospace;
    
}

footer{
    
    top: 90%;
    color: rgb(192, 192, 192);
}

.messagesSystem{
    margin-bottom: 50px;
}