@font-face {
    font-family: 'VT323';
    src: url('fonts/VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Teko Light';
    src: url('fonts/Teko-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    width: 100vw;
    color: hsl(205, 16%, 77%);
    background-color: #33414a;
    font-family: 'Teko Light';
    font-size: x-large;

}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 80px;
    color: white;
    font-family:'VT323';

}

b {
    text-decoration: rgb(234, 0, 255) underline;
}

section {

    padding-top: 5vh;
}

footer{ 
    margin-bottom: 40px;
}

.homeSection {
    height: 90vh;

    background: none;
    border-bottom: 20px solid #801c5c;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: -5;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.profile-image {
    border-radius: 50%;
    margin: auto;
    display: block;
    width: 400px;
    transition: all 500ms;
}

.profile-image:hover {
    opacity: 0.5;
    transform: scale(1.1);
}


.introduction {
    font-weight: bold;

    margin: auto;
    width: 40vw;
}

.setup-img-div {
    overflow: hidden;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    display: inline-block;
    width: 50%;
}

.setup-img {
    width: 100%;
    height: auto;

    border-radius: 20px;
    transition: transform 0.1s ease;
    display: block;
}


.setup-img:hover {
    opacity: 0.5;
    transform: scale(1.2);
}

.myLinks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
}

.myLinks img {
    border-radius: 20px;
    max-width: 60px;
    padding: 10px;
    transition: 0.1s;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;

}

.myLinks img:hover {
    opacity: 0.5;
    transform: scale(1.2);
}

.projects {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-left: 50px;
}

.projects a {
    display: block;
    max-width: 200px;
    background: radial-gradient(circle, rgba(99,63,251,1) 0%, rgba(143,0,255,1) 77%);
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;    border-radius: 30px;
    padding: 20px;
    color: antiquewhite;
    text-decoration: none;
    transition: 0.1s;
}

.projects a:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

.projects a .description {
    font-style: italic;
}

.projects a .language {
    font-weight: bold;
    color: #ffee00;
}

.donate p {
    margin: auto;
    display: block;
    overflow-wrap: break-word;
    max-width: 50vw;
}

@media only screen and (max-width: 800px) {
    .introduction {
        width: 80vw;
    }

    .homeSection {
        padding-top: 1vh !important;
    }



    .profile-image {
        width: 200px;
    }


}