:root {
    /* LIGHT */
    --surface: #FEF7FF;
    --on-surface: #1D1B20;
    --primary: #6750A4;
    --on-primary: #FFFFFF;
    --primary-container: #EADDFF;
    --on-primary-container: #4F378B;
    --tertiary: #7D5260;
    --on-tertiary: #7D5260;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--surface);
    color: var(--on-surface);
    scrollbar-width: none;
}

body.appearance-animation {
    animation: 2s ease-in 0s 1 appearance;
}

a:has(button) {
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

.m-button {
    font-size: large;
    font-weight: bold;
    color: var(--on-tertiary);
    background-color: var(--tertiary);
    padding: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: var(--on-surface) 0px 20px 12px;
    transition: all 0.5s;
}


.first-title {
    text-align: center;
    margin-top: 5vh;
    font-size: 70px;
    font-weight: 700;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.second-title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.first-subtitle {
    font-size: 20px;
    font-style: italic;

    text-align: center;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;    
    height: 40vw;
    max-height: 300px;
}

.icon-button {
    background-color: var(--primary-container);
    padding: 0px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: var(--on-surface) 0px 4px 12px;
    transition: all 0.5s;
}



.icon-button-discord {
    padding: 15px;
}

.social-icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons-container button {
    height: 90px;
    width: 90px;
}

.icon-button-image {
    height: 80%;
}

.theme-mode-container {
    display: flex;
}

.theme-mode-button {
    line-height: 12px;
    width: 50px;
    height: 50px;

    margin-top: 50px;
    margin-right: 50px;
    position:absolute;
    top:0;
    right:0;
}


.discover-button {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 8vh;
    animation: attractiveButton 2.5s infinite ease-in;
}

.main-content {
    margin-top: 100vh;
    
}

@media (hover: hover) {
    .m-button:hover {
        animation: none;
        transform: scale(1.2) !important;
        box-shadow: var(--on-surface) 0px 35px 12px !important;
    }
    .icon-button:hover {
        transform: scale(1.5);
        box-shadow: var(--on-surface) 0px 40px 12px;
    
    }
    
}

@keyframes attractiveButton {
    0% {
      transform: scale(1);
      box-shadow: var(--on-surface) 0px 20px 12px;
    }
    50% {
        transform: scale(1.07);
        box-shadow: var(--on-surface) 0px 25px 12px;
    }
    100% {
        transform: scale(1);
        box-shadow: var(--on-surface) 0px 20px 12px;
    }
}

@keyframes appearance {
    from {
      /* transform: translateX(-100%); */
      opacity: 0;
    }
    to {
      /* transform: translateX(0); */
      opacity: 1;
    }
}