@font-face { 
    font-family: "Oswald-Bold";  
    src: url("../fonts/Oswald-Bold.ttf") format('truetype');
}

header {
    display: grid;
    place-content: center;
    height: 100vh;
}

h1 {
    font-family: 'Oswald-Bold', sans-serif;
    font-size: 10rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 13rem;
}

.char {
    transform: translateY(200px);
    transition: transform 1s;
}
