header{
    display: grid;
    place-content: center;
    height: 100vh;
}

h1{
    font-size: 7rem;
    font-family: 'Bebas Neue';
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 8rem;
}

.char{
    transform: translateY(125px);
    transition: transform 1s;
}