@font-face { 
    font-family: "Oswald-Bold";  
    src: url("../fonts/Oswald-Bold.ttf") format('truetype');
}

body {
    background-color: #020e13;
    margin: 0;
    color: #0099ff;
    text-align: center;
    font-family: 'Oswald-Bold', sans-serif;
    overflow-y: scroll; 
}

header {
    margin: 50px auto;
    place-content: center;
}

h1{
    font-size: 5vw;
}

.titleDiv {
    border-radius: 25px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: auto;
    max-height: 200px;
    width: 40vh;
    margin: 0 auto 0;
    box-sizing: border-box;
}


.homeTitle {
    color: #020e13;
    font-size: 8vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.char {
    transform: translateY(200px);
    transition: transform 1s;
}

.subtitle {
    margin-top: 100px;
}

.sectionTitle{
    color: rgb(185, 185, 185);
    font-size: 2.5rem;
}

.icon{
    border-radius: 20px;
    max-width: 60px;
}

.icon:hover{
    transform: scale(1.2);
}

.icon{
    transition: 0.1s;
}

.infos {
    position: relative;
    margin-top: 100px; 

    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    align-items: center;
    margin-bottom: 40px;

}

.sectionIcons {

}


.pageButton{
    border-color: #0099ff;
    color: #0099ff;
    font-family: 'Oswald-Bold', sans-serif;
    font-size: large;
    background-color: transparent;
    width: 350px ;
    height: 50px;

    cursor: pointer;

    transition: 400ms;
}

.pageButton:hover{
    background-color: #0099ff;
    color: #020e13;
    border-color: #b4b4b4;
}

.contactArea{
    width: 345px; 
    height: 186px;

    border-radius: 10px;

    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.home {
    font-size: 5vh;
    position: absolute;
    margin: 0;
    top: 20;
    left: 30;

    transition: 500ms;
}


.home:hover {
    transform: scale(1.5);
}


.footerGithubText:hover{
    transition: 15s;
    transform: scale(100);
}

.profile_img{
    z-index: -5;
    opacity: 0.3;
    position: fixed;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

@media (max-width: 768px) {
    .titleDiv {
        padding: 1rem;
        max-height: 150px;
        width: 20vh;
    }

    .homeTitle {

    }

    .infos {
        display: block;
        position: relative;
        margin-top: 100px; 

        margin-bottom: 40px; /* Espacement entre les groupes d'info */
    
    }
}
