.projects-place {
    display: block;
    margin: auto;
    margin-top: 40vh;
    padding-top: 10vh;
    width: 80vw;
}

.projects a {
    color: unset;
    text-decoration: unset;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
    margin-top: 100px;
}

.project {
    font-family: Anomaly;
    display: block;
    width: 500px;
    max-width: 80vw;

    height: 150px;
    padding: 20px;
    border-radius: 20px;
    border: solid wheat 5px;

    transition: all 500ms;
}

.project h3 {
    font-size: 30px;
}

.project p {
    font-size: 15px;
    font-weight: bold;
}


.project:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 800px) {
    .projects-place {
        width: 100vw;

    }
}